html {
    background-color: aliceblue; 
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 250px;
}

h1 {
    text-align: center;
    font-size: 45px;
}

table {
    border: 1px solid black;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 15px;
    background-color: white;
    font-size: 16px;
}

ol, ul {
    text-align: left;
}

.column {
    width: 33.3%;
    float: left;
    text-align: center;  
}

.column2 {
    width: 50%;
    float: left;
    text-align: center;  
}

.center {
    text-align: center;
}


.aside {
    padding: 5px 15px;
    font-size: 12px;
}

.expanded {
    height: 300px;
    transition: .5s;
}

.enlarged {
    font-size: 48px;
    transition: .5s;
}

.itemdiv {
    margin: 0% 10%;
}

.items {
    width: 25%;
    background-color: white;
    float: left;
    margin: 4%;
    border-radius: 10px;
}

.basket {
    height: 500px;
    width: 30%;
    border-radius: 10px;
    float: left;
    margin: 0% 13%;
}

.cereal {
    margin: auto;
}